$primary-color: rgba(65, 74, 76, 1);
$secondary-color: rgba(179, 179, 179, 1);
$secondary-color-varient2: rgba(179, 179, 179, 0.4);
$tertiary-color: rgba(128, 128, 128, 1);
$bg-color: rgba(245, 245, 245, 1);
$bg-color-card: rgba(255, 255, 255, 1);
$bg-color-checkbox: rgba(33, 150, 243, 1);
$box-shadow: 0px 2px 2px 2px rgba(211, 211, 211, 1);
$border-radius: 0.5rem;
$base-fontSize: 10px;
$font-family: Gotham, serif;
$padding-main: 2rem;
$padding-elements: 2rem 0rem;
$padding-elements-large: 3rem 0rem;
$button-width: 10rem;
